@charset "utf-8";
/* CSS Document */
div.wrapper{
	display: block;
	
	width: 100%;
	height: 90px;
	background: url(img/head_top.jpg) center  top / 1920px 90px no-repeat
	}
nav.top{	

	background-color:#f2f2f2;
	border-bottom:1px solid #e7e7e7;
	padding:5px 0px 5px 0px;

}
nav.top a span{
	color:gray;
}
span.glyphicon{
	margin:0px 5px;
	color:#066;	
}
nav.top a:hover span{
	color:#C40000;
	
}
nav.top a:hover {
	text-decoration:none;
	
}

h1.logo{
	display:block;
	float:left;
}
.search{
	 float:left;
	margin-left:100px;
	
	 padding:35px;
}
.search-form{
	background-color:#BC75E9;
}
#keyword{
	margin-left:1px;
	width:300px;
	height:35px;
	}
#submit{
		height:35px;
		width:110px;
		border:2px solid #BC75E9;
		font-size:15px;
		color:white;
		background:#BC75E9;
		margin:1px;
		}
.hot-search {
	margin:2px;
	}
	.hot-search span a{
	padding:5px;
	}
.good a{
	color:#999;
	text-decoration:none;
	}
.good a:hover{
	color:#9400D3;
	}
#shoppingcart{
		margin:50px;
		
		border:1px solid;
		float:right;
		}
#hot-line{
	float:left;
	margin-left:30px;
	padding:35px;
		}
#hot-line1{
			font-size:15px;
			margin-left:27px;
			}
	#hot-line2{
		font:"微软雅黑";
		font-size:25px;
		color:#9400D3;
		}
	.public-header{
		display:block;
		}
span.proj_span{
	
	padding:5px 18px;

	display:inline-block;
	}
.all{
	
	margin:0 60px ;
	margin-right:30px!important;
	padding:5px 52px 5px 50px !important;
	border:1px solid #BC75E9 !important;
	background-color:#BC75E9;
	border-radius:20px 20px 0 0;
	font-size:17px;
	color:white;
	}
.proj{
	display:inline-block;
		margin-top:20px;
	}
	.pro a{
		font-size:15px;
		text-decoration:none;
		color:black;
	
		}
.pro a:hover{
		text-decoration:none;
		
		color:#BC75E9;
		}
.pro a:visited{
	text-decoration:none;
	
	font:bold;
}
#carousel-of-product{

	border-top:2px solid #BC75E9;
	height: 380px;
	
	

	margin:0px auto;

}
div.categoryWithCarousel div.eachCategory {
  
    line-height: 30px;
    padding-left: 10px;
    font-size: 14px;
}
div.productItem {
    width: 189px;
    height: 285px;
    border: 1px solid white;
    background-color: white;
    margin: 8px 4px;
    float: left;
    cursor: pointer;
}
div.categoryWithCarousel div.carouselAboutProduct {
    width: 600px;
    display: inline-block;
}
div.carousel-of-product {
    max-width: 100%;
    height: 510px;
}
div.productItem span.productPrice {
    font-size: 16px;
    color: #FF003A;
    display: block;
    padding-left: 16px;
    margin-top: -10px;
}
img.carouselImage {
    height: 510px !important;
}
div.productsAsideCategorys div.row div.seperator {
    margin-top: 20px;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #e7e7e7;
}
div.eachHomepageCategoryProducts {
    margin: 0px 0px 40px 0px;
}
div.productsAsideCategorys a:hover {
    color: #C40000;
    text-decoration: none;
}
div.left-mark {
    display: inline-block;
    height: 20px;
    vertical-align: top;
    width: 5px;
    background-color: #19C8A9;
}
span.categoryTitle {
    font-size: 16px;
    margin-left: 30px;
    color: #646464;
    font-weight: bold;
}
div.categoryWithCarousel {
    width: 100%;
}
div.categoryWithCarousel div.categoryMenu {
    width: 206px;
    background-color: #BC75E9;
    margin-left: 60px;
	margin-top:1px solid #BC75E9;
    position: absolute;
    left: 0;
    top: 2px;
    z-index: 1;
}

div.categoryWithCarousel div.productsAsideCategorys {
    width: 800px;
    height: 510px;
    background-color: white;
    margin-left: 266px;
    display: none;
    position: absolute;
    left: 0;
    top: o;
    z-index: 1;
}


div.categoryWithCarousel div.eachCategory:hover {
     
}
div.categoryWithCarousel div.head {
    width: 200px;
    background-color: #C60A0A;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-left: 20px;
    display: inline-block;
}
div.categoryWithCarousel div.headbar {
    background-color: #DD2727;
}
img.catear {
    position: absolute;
    height: 15px;
    display: none;
}
div.categoryWithCarousel div.rightMenu {
    display: inline-block;
}
div.categoryWithCarousel div.rightMenu a {
    font-size: 16px;
    color: white;
}
div.categoryMenu a:hover {
    color: lightskyblue;
    text-decoration: none;
}
div.categoryWithCarousel div.rightMenu span {
    margin: 0px 20px 0px 20px;
}
div.categoryWithCarousel div.eachCategory span {
    margin-right: 10px;
}
div.productsAsideCategorys a {
    color: #999;
    font-size: 14px;
    margin: 8px;
}
div.homepageCategoryProducts {
    background-color: #F5F5F5;
    padding: 50px 10px 50px 10px;
    margin: 10px auto;
    max-width: 1013px;
}
div.productItem span.productItemDesc {
    font-size: 12px;
    color: #666666;
    display: block;
    padding: 16px;
}
div.categoryMenu a {
    color: #000;
}
div.productItem img {
    width: 187px;
    height: 190px;
}
nav.top div.row div {
    background-color: lightgray;
    border: 1px solid gray;
    text-align: center;
}
a.productItemDescLink {
    display: inline-block;
    height: 66px;
}
nav.top div.row div {
    margin: 5px 0px;
}
div.productsAsideCategorys div.row {
    margin: 20px 80px 0px 80px;
}
div.categoryMenu div.eachCategory {
	padding-left:15px;
	font-size:15px;

	
	
}
div.categoryMenu div.eachCategory a{
	color:white;}